table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}
th {
  font-weight: 600;
  text-align: left;
}
th, td {
  
}

@media only screen and (min-width: 768px) {
  table {
    width: 600px;
  }
}